.about {
  &.about--edit-mode-off {
    .about__edit-actions,
    .about__edit-form {
      display: none;
    }
  }

  .profile--full-name {
    justify-content: flex-start;
    font-size: 18px;
    margin: 18px 0;
  }
  .profile__icon {
    width: 36px;
    text-align: center;
    font-size: 18px;
  }
  .profile__info {
    margin: 12px 0;
  }

  &--edit-mode-on {
    .about__edit,
    .about__edit-info {
      display: none;
    }
    .about__edit-actions {
      display: flex;
    }
  }
}

@media (min-width: 861px) {
  .about {
    .about__edit,
    .about__edit-actions,
    .about__edit-form {
      display: none;
    }
    .about__edit-info {
      display: block;
    }
  }
}
