<div class="tab about about--edit-mode-off">
  <form id="formAbout" name="formAbout">
    <div class="tab__header">
      <div class="tab__title">About</div>
      <div class="tab__actions about__edit">
        <button type="button" class="button button--icon about__edit-button">
          <i class="ion-edit"></i>
        </button>
      </div>
      <div class="tab__actions about__edit-actions">
        <button type="button" class="button about__cancel-button">Cancel</button>
        <button class="button about__save-button">Save</button>
      </div>
    </div>
    <div class="about__edit-form">
      <div class="text-field text-field--not-empty text-field--floating">
        <label class="text-field__label text-field__label--floating">FIRST NAME</label>
        <input id="txtFirstName"
               class="text-field__input"
               data-live=".profile__first-name"
               maxlength="20"
               required>
      </div>
      <div class="text-field text-field--not-empty">
        <label class="text-field__label text-field__label--floating">LAST NAME</label>
        <input id="txtLastName"
               class="text-field__input"
               data-live=".profile__last-name"
               maxlength="20"
               required>
      </div>
      <div class="text-field text-field--not-empty">
        <label class="text-field__label text-field__label--floating">WEBSITE</label>
        <input id="txtWebsite"
               class="text-field__input"
               data-live=".profile--website .value"
               maxlength="50"
               required>
      </div>
      <div class="text-field text-field--not-empty">
        <label class="text-field__label text-field__label--floating">PHONE NUMBER</label>
        <input id="txtPhone"
               class="text-field__input"
               data-live=".profile--phone .value"
               maxlength="20"
               required>
      </div>
      <div class="text-field text-field--not-empty">
        <label class="text-field__label text-field__label--floating">CITY, STATE & ZIP</label>
        <input id="txtAddress"
               class="text-field__input"
               data-live=".profile--address .value"
               maxlength="50"
               required>
      </div>
    </div>
  </form>
  <div class="about__edit-info profile">
    <div class="profile__full-name popup-edit">
      <div class="popup-edit__info">
        <span class="profile__first-name popup-edit__value"></span>&nbsp;
        <span class="profile__last-name popup-edit__value"></span>
      </div>
      <button class="button button--icon popup-edit__button"
              data-popup-edit
              data-popup-edit-field="firstName,lastName"
              data-popup-edit-live=".profile__first-name,.profile__last-name"
              data-popup-edit-label="FIRST NAME,LAST NAME"
              data-popup-edit-max="20,20">
        <i class="ion-edit"></i>
      </button>
    </div>
    <div class="profile__info profile--website popup-edit">
      <div class="popup-edit__info">
        <i class="profile__icon ion-android-globe"></i>
        <span class="value popup-edit__value"></span>
      </div>
      <button class="button button--icon popup-edit__button"
              data-popup-edit
              data-popup-edit-field="website"
              data-popup-edit-live=".profile--website .value"
              data-popup-edit-label="WEBSITE"
              data-popup-edit-max="50">
        <i class="ion-edit"></i>
      </button>
    </div>
    <div class="profile__info profile--phone popup-edit">
      <div class="popup-edit__info">
        <i class="profile__icon ion-ios-telephone-outline"></i>
        <span class="value"></span>
      </div>
      <button class="button button--icon popup-edit__button"
              data-popup-edit
              data-popup-edit-field="phone"
              data-popup-edit-live=".profile--phone .value"
              data-popup-edit-label="PHONE NUMBER"
              data-popup-edit-max="20,20">
        <i class="ion-edit"></i>
      </button>
    </div>
    <div class="profile__info profile--address popup-edit">
      <div class="popup-edit__info">
        <i class="profile__icon ion-ios-home-outline"></i>
        <span class="value"></span>
      </div>
      <button class="button button--icon popup-edit__button"
              data-popup-edit
              data-popup-edit-field="address"
              data-popup-edit-live=".profile--address .value"
              data-popup-edit-label="CITY, STATE & ZIP"
              data-popup-edit-max="20,20">
        <i class="ion-edit"></i>
      </button>
    </div>
  </div>
</div>
