@import "./../utilities/variables";

.button {
  background-color: transparent;
  border-right: 2px;
  color: $primaryColor;
  cursor: pointer;
  font-family: "Roboto Medium", sans-serif;
  font-size: 14px;
  height: 36px;
  margin: 8px;
  outline: none;
  padding: 0 16px;
  text-transform: uppercase;
  transition: 200ms ease-in-out;

  + button {
    margin-left: 0;
  }
  &:focus {
    background-color: rgba(0,0,0,.12);
  }
  &:active {
    background-color: rgba(153,153,153,.4);
  }
  &--icon {
    background-color: #ecf1f5;
    color: #727e8a;
    font-size: 18px;
    height: 28px;
    padding: 0 8px;
  }
  &--fill {
    background-color: $primaryColor;
    color: #fff;

    &:focus {
      background-color: darken($primaryColor, 5%);
    }
    &:active {
      background-color: darken($primaryColor, 10%);
    }
  }
}

@media (min-width: 861px) {
  .button {
    border: 1px solid $primaryColor;
    height: 28px;
    min-width: 80px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;

    &--icon {
      border: 0;
      font-size: 14px;
      min-width: auto;
    }
  }
}
