@import "./../utilities/variables";

.text-field {
  width: 100%;

  &__label {
    color: rgba(0,0,0,.4);
    display: block;
    font-size: 12px;
    font-weight: 400;
    height: 12px;
    line-height: 1;
    margin-top: 16px;
    transition: 150ms ease-in-out;

    &.text-field__label--floating {
      font-size: 16px;
      pointer-events: none;
      transform: translateY(22px);
    }
    + .text-field__input {
      padding-top: 8px;
    }
  }
  &__input {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.4);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 16px 0 8px;
    outline: none;
    width: 100%;
  }
  &__line {
    background-color: $primaryColor;
    height: 2px;
    margin-top: -1px;
    margin-bottom: -1px;
    transform: scaleX(0);
    transition: 150ms ease-in-out;
    width: 100%;

    &::before {
      background-color: #f44336;
      content: "";
      display: block;
      height: 2px;
      transform: scaleX(0);
      transition: 150ms ease-in-out;
      width: 100%;
    }
  }
  &--not-empty .text-field__label--floating,
  &--focus .text-field__label--floating {
      transform: none;
      font-size: 13px;
  }
  &--focus {
    .text-field__label {
      color: $primaryColor;
    }
    .text-field__line {
      transform: scaleX(1);
    }
  }
  &--invalid {
    .text-field__label {
      color: #f44336;
      animation: label-shake-error 150ms ease-in-out;
    }
    .text-field__line::before {
      background-color: #f44336;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
    }
    .text-field__line,
    .text-field__line::before {
      transform: scaleX(1);
    }
  }
}

@keyframes label-shake-error {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
