@media (max-width: 860px) {
  .popup-edit__button,
  .popup {
    display: none;
  }
}

@media (min-width: 861px) {
  .popup-edit {
    align-items: center;
    display: flex;
    margin: 0 1px 0 0;
    &__info {
      position: relative;
      align-items: center;
      display: flex;
      background-color: #f6f7f9;
      height: 32px;
      padding: 0 8px;
    }
    &.profile__info,
    &.profile__full-name {
      margin: 0 0 1px 0;
    }
    .popup-edit__button {
      height: 32px;
      margin: 0;
    }
    &.profile__full-name .popup-edit__info {
      padding-left: 10px;
    }
    .profile__icon {
      color: rgba(0,0,0,.4);
      margin-right: 8px;
      width: auto;
    }
  }
  .popup {
    background-color: white;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    left: 100%;
    padding: 0 16px;
    position: absolute;
    top: -16px;
    width: 250px;
    z-index: 1;
    margin-left: 16px;

    &::before {
      border-width: 16px 16px 16px 0;
      border-color: transparent white transparent;
      border-style: solid;
      content: "";
      position: absolute;
      right: 100%;
      top: 16px;
    }

    &__actions {
      margin: 16px 0;

      .button {
        margin: 0 16px 0 0;
      }
    }
  }
}
