@import "../utilities/variables";

.tabs {
  &__container {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
    margin-bottom: 16px;
  }
  &__link {
    align-items: center;
    color: rgba(0,0,0,.9);
    display: flex;
    font-size: 14px;
    height: 50px;
    position: relative;
    text-decoration: none;
    &--active::after {
      background-color: $primaryColor;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      height: 2px;
      position: absolute;
      right: 0;
    }
  }
  &__links {
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    background-color: white;
    margin-bottom: 16px;
  }
  &__item {
    padding: 0 16px;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__loading,
  &__error {
    color: rgba(0,0,0,.6);
    padding: 16px;
    text-align: center;
  }
  &__error {
    color: #f44336;
  }
}

.tab {
  padding: 16px;

  &__actions {
    display: flex;
    .button {
      margin: 0 0 0 8px;
    }
  }
  &__header {
    align-items: center;
    color: rgba(0,0,0,.4);
    display: flex;
    font-size: 22px;
    margin-bottom: 16px;
  }
  &__title {
    flex: 1;
  }
}
