@import "../utilities/variables";

.profile {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
  &__container {
    padding: 16px;
  }
  &__followers {
    align-items: center;
    display: flex;
    margin-top: 16px;
  }
  &__full-name {
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
  }
  &__icon,
  &__total-followers,
  &__total-reviews {
    display: inline-block;
    width: 22px;
  }
  &__icon {
    font-size: 22px;
  }
  &__icon--follow {
    color: rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 32px;
    width: 32px;

    &.profile__icon--following {
      color: $primaryColor;
    }
  }
  &__icon--follow:hover {
    color: rgba(0,0,0,.5);

    &.profile__icon--following {
      color: darken($primaryColor, 10%);
    }
  }
  &__icon--follow:active {
    color: rgba(0,0,0,.6);

    &.profile__icon--following {
      color: darken($primaryColor, 20%);
    }
  }
  &__info {
    align-items: center;
    display: flex;
    margin: 4px 0;
  }
  &__logout {
    text-align: right;
  }
  &--pic {
    background-color: #888;
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 24px rgba(0,0,0,.2);
    margin: 0 auto 16px;
    //background-image: url("./../img/profile_image.jpg");
    height: 110px;
    width: 110px;
  }
  &__review--rated .profile__star {
    color: $primaryColor;
  }
  &__star {
    cursor: pointer;
    font-size: 24px;
  }
  &__review--not-rated,
  &__star--active ~ {
    .profile__star::before {
      content: "\f3ae";
    }
  }
  &__total-followers,
  &__total-reviews {
    font-weight: 700;
    color: rgba(0,0,0,.6);
  }
}

@media (min-width: 861px) {
  .app {
    margin: 0 auto;
    width: 800px;
  }

  .profile {
    background-color: #fff;
    font-size: 11px;
    margin-top: 16px;
    color: rgba(0,0,0,.8);
    font-weight: 400;

    &__info {
      margin: 0;
    }
    &__main-info {
      align-self: flex-end;
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-bottom: 8px;
    }
    &__full-name {
      font-size: 16px;
      justify-content: flex-start;
      margin-bottom: 6px;
    }
    &--phone {
      order: 1;
    }
    &--pic {
      margin: -24px 20px -48px 0;
      width: 130px;
      height: 130px;
    }
    &__review {
      display: flex;
      align-self: flex-start;
      align-items: center;
      margin-top: 8px;

      .profile__star {
        color: rgba(0,0,0,.5);
      }
    }
    &__review-label {
      margin-left: 20px;
    }
    &__container {
      display: flex;
      flex: 1;
      padding: 0 16px;
      position: relative;
    }
    &__all-info {
      display: flex;
      flex: 1;
    }
    &__icon {
      font-size: 18px;
    }
    &__followers {
      position: absolute;
      right: 16px;
      top: 100%;
      margin-top: 14px;
    }
    &--logout-button {
      margin: 16px;
    }
  }

  .profile-tabs {
    .tabs {
      &__container {
        padding: 32px;
        min-height: 480px;
      }
      &__links {
        padding-left: 148px;
      }
    }
  }
}
